{
    "rules": {
		"comma-dangle": ["warn", "never"],
		"indent": ["off", 4],
		"quotes": ["warn", "single"],
		"semi": ["warn", "never"]
  },
  "parserOptions": {
    "ecmaVersion":2015,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "settings": {
    "import/resolver": {
      "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"],
          "moduleDirectory": ["node_modules", "src/"]
      }
    } 
  }
}