@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'kyobo';
	src: url('./assets/font/KyoboHandwriting2021sjy.woff') format('woff');
}
@font-face {
	font-family: 'kreon';
	src: url('./assets/font/Kreon-Bold.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'kreon';
	src: url('./assets/font/Kreon-Light.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'kreon';
	src: url('./assets/font/Kreon-Regular.woff') format('woff');
	font-weight: 500;
}
@font-face {
	font-family: 'cookie';
	src: url('./assets/font/CookieRun-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Soojin';
	src: url('./assets/font/ImcreSoojin.woff');
}

@layer base {
	main {
		@apply font-main;
		height: -webkit-fill-available;
		height: fill-available;
		font-weight: 600;
	}
}

@layer components {
	.word-wrapper:not(:last-child) > span:last-child::after {
		content: '\0020';
		@apply mr-1;
	}
	.disabled-drag {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Chrome/Safari/Opera */
		-khtml-user-select: none; /* Konqueror */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge*/
		user-select: none;
	}
	.loading-container > div {
		top: -8rem;
		position: relative;
		display: flex;
	}
	.loading-container > div:nth-child(odd) {
		justify-content: center;
	}
	.loading-container > div:nth-child(even) {
		justify-content: space-between;
	}

	.shadow-b {
		-webkit-box-shadow: 5px 5px 0px -1px #57765e;
		-moz-box-shadow: 5px 5px 0px -1px #57765e;
		box-shadow: 5px 5px 0px -1px #57765e;
	}

	.modal-btn {
		@apply min-w-[100px] rounded-full border border-solid border-black mt-2 text-white bg-mainTeal py-3 font-medium;
	}

	.top-icon {
		@apply absolute w-12 h-12 bg-mainTeal -top-6 rounded-full border-black border border-solid p-1 flex;
		@apply items-stretch left-1/2 -translate-x-1/2;
	}
	.privacy * {
		font-family: '맑은 고딕';
	}

	.dashed-box {
		@apply border border-dashed rounded-lg;
	}

	.shadow-btn {
		@apply flex w-full justify-center text-sm border-solid border-mainTeal rounded-xl border shadow-btnShadow;
	}
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: #eae6da;
}
* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}
